.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
}

@media (min-width: 768px) {
  .about {
    margin: 12rem 0;
  }
}

.about-inner {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  .about-inner {
    flex-direction: row-reverse;
  }
}

/* TEXT SIDE */
.about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .about-text {
    width: 50%;
  }
}

.about-title {
  margin: 20px auto;
  width: fit-content;
  padding: 0 20px;
  text-align: center;
  font-weight: 700;
  letter-spacing: -0.02em;
  font-size: 3.75rem;
}

@media (min-width: 640px) {
  .about-title {
    font-size: 4.5rem;
  }
}

@media (min-width: 1024px) {
  .about-title {
    font-size: 8rem;
  }
}

.about-card {
  margin: 0 auto 8px auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 24px;
  text-align: center;

  font-size: 1.25rem;
  letter-spacing: 0.02em;
}

@media (min-width: 768px) {
  .about-card {
    font-size: 1.5rem;
  }
}

.about-paragraph {
  margin: 0 auto 16px auto;
  width: 83.3333%;
}

.about-paragraph:last-child {
  margin-bottom: 0;
}

/* IMAGE SIDE */
.about-imageWrap {
  margin: 40px auto;
  width: 50%;
}

@media (min-width: 768px) {
  .about-imageWrap {
    width: 33.3333%;
  }
}

@media (min-width: 1024px) {
  .about-imageWrap {
    width: 25%;
  }
}

.about-image {
  border-radius: 12px;
}

/* SPACER */
.about-spacer {
  margin: 64px auto 0 auto;
}

@media (min-width: 1024px) {
  .about-spacer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
}

.about-spacerHalf {
  display: none;
}

@media (min-width: 1024px) {
  .about-spacerHalf {
    display: block;
    width: 50%;
  }
}
